<p>{{ description }}</p>

<p>{{ city }}</p>

<p>{{ temp_max }}</p>

<p>{{ temp_min }}</p>

<p>{{ pressure }}</p>

<p>{{ humidity }}</p>

<p>{{ wind }}</p>

<div class="back" style="background-image: url('{{ file_url(image) }}');">
        <div class="city">
               <!--<img src="modules/weather_cast/image/havasu.jpeg">-->
    
            <h3>{{ city }}</h3>    
</div>