<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{page.header}}
        </div>
        <div class="col-lg-12">
            {{page.navigation}}
        </div>
        <div class="col-lg-4">
            {{page.left_sidebar}}
        </div>
        <div class="col-lg-8">
            {{page.content}}
        </div>
        <div class="col-lg-12">
            {{page.footer}}
        </div>
    </div>
</div>
        
        
